localrc
vim/.netrwhist

# Ignore npm global packages.
/npm-global/*

# Ignore vim plugins installed except Vundle.
/vim/bundle/*
/vim/bundle/vim-*
!/vim/bundle/Vundle.vim/*

.DS_Store
[Tt]humbs.db
*.swp
