###############################################################################
# Python Requirements File
#
# Put requirements for systems you have here.
#
# To see what pip packages you have installed right now, try:
#   pip freeze > requirements_test.txt
#
# ...and look inside the requirements_test.txt file.
#
# To install all requirements listed in this file, run:
#   pip install -r requirements.txt
#
# This file is in compliance with formatting found here:
# https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
#
###############################################################################

# Ensure that you write PEP8-compliant python.
autopep8>=1.1.1
pep8>=1.6.2

# Syntax highlighting.
Pygments>=2.1.3

# For HTML parsing.
BeautifulSoup>=3.2.1
beautifulsoup4>=4.4.1

# For writing beautiful command line programs without the awful argparse.
click>=4.0

# Another argparse / optparse alternative.
docopt>=0.6.2

# HTTP Requests for humans
requests>=2.8.1
httpie>=0.9.3

# Use python to inspect network traffic.
pcapy>=0.10.9
scapy>=2.3.1

# Lets you generate a requirements.txt file based on the imports used in a
# python project. Better than `pip freeze > file.txt` when you're interested in
# just one project's dependencies.
pipreqs>=0.3.0
